.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.expander-container {
    margin: 2.5rem auto;
    width: 90%;
    max-width: 960px;
    background-color: var(--primary);
    border: solid var(--container-border-width) var(--primary-dark-1);
    border-radius: var(--container-border-radius);
    position: relative;
}

.graph-container {
    position: relative;
    width:100%;
    background-color: white;
    border: solid var(--container-border-width) var(--primary-dark-1);
    border-radius: var(--container-border-radius);
    top: calc(-1*var(--container-border-width));
    left: calc(-1*var(--container-border-width));
}

.graph-container:before {
    content:"";
    display: block;
    padding-top: 56.25%;
    /* > Aspect Ratio: 16:9 */
}

.logo {
    height: 80%;
    padding: auto;
}

.footer {
    display: flex;
    justify-self: flex-end;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-dark-1);
    color: var(--white);
    -webkit-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.4);
}


@media screen and (max-width: 960px) {
    .expander-container {
        margin: 2rem auto;
    }

    .graph-container:before {
        padding-top: 100%;
        /* > Aspect Ratio: 1:1 */
    }
}
