.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #535A3B;
  /* height: 3rem; */
  padding: 1rem;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-family: Herculanum;
  font-weight: 500;
  margin: auto;
}

.App-intro {
  font-size: large;
}

.expander-container {
    margin: 5rem;
    background-color: #A7B99E;
    border: solid var(--container-border-width) #535A3B;
    border-radius: var(--container-border-radius);
    position: relative;
}

.graph-container {
    width:100%;
    background-color: white;
    /* z-index: 2; */
    border: solid var(--container-border-width) #535A3B;
    border-radius: var(--container-border-radius);
    position: relative;
    top: calc(-1*var(--container-border-width));
    left: calc(-1*var(--container-border-width));
}

.search-container {
    padding: 1rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
