.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: var(--primary-dark-1);
  padding: 1.5rem;
  color: var(--white);
  align-items: flex-start;
}

.App-title {
  font-size: 2rem;
  font-family: Herculanum;
  font-weight: 500;
  margin: auto;
}

.App-intro {
  font-size: large;
}

.expander-container {
    margin: 2.5rem auto;
    width: 90%;
    max-width: 960px;
    background-color: var(--primary);
    border: solid var(--container-border-width) var(--primary-dark-1);
    border-radius: var(--container-border-radius);
    position: relative;
}

.graph-container {
    position: relative;
    width:100%;
    background-color: white;
    border: solid var(--container-border-width) var(--primary-dark-1);
    border-radius: var(--container-border-radius);
    top: calc(-1*var(--container-border-width));
    left: calc(-1*var(--container-border-width));
}

.graph-container:before {
    content:"";
    display: block;
    padding-top: 56.25%;
    /* Aspect Ratio: 16:9 */
}


@media screen and (max-width: 960px) {
    .expander-container {
        margin: 2rem auto;
    }

    .graph-container:before {
        padding-top: 100%;
        /* Aspect Ratio: 1:1 */
    }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
