body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* $ FONTS */
/* > Herculanum */
@font-face{
    font-family:  'Herculanum';
    src: local('Herculanum'),
       url('./fonts/Herculanum.ttf') format('truetype')

}
